---
import CharacterCard from '../components/CharacterCard.astro'
import Layout from '../layouts/Layout.astro'
import { getCharacters } from '../services/dragonBall'
const characters = await getCharacters()
---

<Layout>
  <header>
    <h1>Dragon Ball</h1>
  </header>
  <main>
    <article>
      <h2>Characters</h2>
      <article class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 max-width'>
        {characters.map((character) => <CharacterCard character={character} />)}
      </article>
    </article>
  </main>
</Layout>
