---
import { URL_API_LIMIT } from '../constants/apis'
import { getCharacters } from '../services/getCharacters'
import Layout from '../layouts/Layout.astro'
import CharacterCard from '../components/CharacterCard.astro'

let showCharacters = []
let theUrl = ''

const { characters, links } = await getCharacters(URL_API_LIMIT)

showCharacters.push(...characters)
theUrl = links.next
---

<Layout title='Dragon Ball'>
  <header class='flex flex-col items-center justify-center prose-lg min-h-75 bg-[url("https://c.wallhere.com/photos/b9/00/Dragon_Ball_Fortnite-2157419.jpg!d")] bg-cover bg-bottom overlay p-4'>
    <h1 class='text-4xl font-bold font-serif relative text-primary'>Dragon Ball</h1>
    <p class='relative max-w-7xl text-white'>
      Dragon Ball is a Japanese media franchise created by Akira Toriyama in 1984, popular for its manga and anime series, and its numerous adaptations and spin-off products. The main story follows
      Goku's adventures from childhood to adulthood, fighting villains and defending the Earth.
    </p>
  </header>
  <main class='bg-[url("https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")] bg-contain bg-center p-4 overlay'>
    <article>
      <article class='grid grid-cols-[repeat(auto-fill,_minmax(15rem,_1fr))] gap-4 max-width'>
        {characters.map((character) => <CharacterCard name={character.name} image={character.image} ki={character.ki} id={character.id} />)}
      </article>
      <button id='btn'>More</button>
    </article>
  </main>
</Layout>
