---
import CharacterCard from '../components/CharacterCard.astro'
import Layout from '../layouts/Layout.astro'
import { getCharacters } from '../services/dragonBall'
const characters = await getCharacters()
---

<Layout title='Dragon Ball'>
  <header class='flex flex-col items-center justify-center h-75 gap-4 bg-[url("https://c.wallhere.com/photos/b9/00/Dragon_Ball_Fortnite-2157419.jpg!d")] bg-cover bg-bottom overlay p-4'>
    <h1 class='text-4xl font-bold font-serif relative'>Dragon Ball</h1>
    <p class='relative max-w-7xl text-center'>
      Dragon Ball is a Japanese media franchise created by Akira Toriyama in 1984, popular for its manga and anime series, and its numerous adaptations and spin-off products. The main story follows
      Goku's adventures from childhood to adulthood, fighting villains and defending the Earth.
    </p>
  </header>
  <main>
    <article>
      <h2>Characters</h2>
      <article class='grid grid-cols-[repeat(auto-fill,_minmax(15rem,_1fr))] gap-4 max-width'>
        {characters.map((character) => <CharacterCard name={character.name} image={character.image} ki={character.ki} id={character.id} />)}
      </article>
    </article>
  </main>
</Layout>
