---
type Props = {
  theClass?: string
  text: string
  highlight: string
}
const { theClass = '', text, highlight } = Astro.props
---

<div class={`font-bold ${theClass}`}>{text} <span class='text-secondary'>{highlight}</span></div>
